tests/fixtures/* filter=lfs diff=lfs merge=lfs -text
tests/fixtures/SRR12068547/SRR12068547/quants/aux_info/unmapped_names.txt filter=lfs diff=lfs merge=lfs -text
tests/fixtures/SRR12068547/** filter=lfs diff=lfs merge=lfs -text
